<ion-view>
  <ion-nav-title>
    {{loginstat}}
  </ion-nav-title>
  <ion-content>
    <form ng-if="!(isLogged)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="" ng-model="user">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Senha:</span>
          <input type="password" placeholder="" ng-model="pass">
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="login(user,pass)" ng-hide="asyncTask">
        Entrar
      </button>
      <p style="padding-left:8px">{{stat}}</p>
    </form>
    <div id="painel" ng-if="isLogged">
      <h1>{{user}}</h1>
    </div>
  </ion-content>
</ion-view>
