<ion-view>
	<ion-nav-title>
        Fórum UOL Jogos
	</ion-nav-title>
	<ion-content>
		<ion-list>
			<ion-item class="sec-header">
				Geral
			</ion-item>
			<ion-item href="#/noticias">
				Notícias
			</ion-item>
			<ion-item class="sec-header">
				Jogos e consoles
			</ion-item>
			<ion-item href="#/nintendo">
				DS, Wii, Wii U
			</ion-item>
			<ion-item href="#/pc">
				PC
			</ion-item>
			<ion-item href="#/sony">
				PlayStation 4, PlayStation 3, PS Vita
			</ion-item>
			<ion-item href="#/ms">
				Xbox One, Xbox 360
			</ion-item>
			<ion-item href="#/museu">
				Museu do videogame
			</ion-item>
			<ion-item class="sec-header">
				Fora de tópico
			</ion-item>
			<ion-item href="#/vale_tudo">
				Vale Tudo
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>
